.contact-list{
    display: flex;
    margin-left: 10px;
    
    &__link{
        color: black;
        display: block;
//        height: 56px;
//        width:50px;
//        outline: 2px green solid;
        
    }
    
}