@media (min-width: 1440px) {
    .main-steps {
        display: flex;
        
        height:240px;
        
        box-sizing: border-box;
        width: 100%;
        outline: 2px solid red;

        &__container {
//     
            margin: 0 auto;
            align-items: flex-start;
            width: 1440px;
            padding-left: 60px;
            padding-right: 60px;
            outline: 2px solid green;
            box-sizing: border-box;
        }
        
        &__to-do-list{
            display: flex;
            margin: 0;
            padding: 0;
            padding-left: 0px;
            outline: 2px red solid;
            list-style: none;
        }
        
          &__to-do-list p{
            
            margin: 0;
            padding: 0;

            
            
        }
        
        &__to-do-list-item{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: -20px;
            border: 2px green solid;
            border-radius: 20px;
            padding-left: 40px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 36px;
            
        }
        
//        НЕ МОГУ ПОНЯТЬ ПОЧЕМУ ЧЕРЕЗ FIRSTCHILD не получается
        &__to-do-list-item--item1{
            margin-left: 0px;
        }
        
         &__to-do-list-item--item2{
            background: red;
        }
         &__to-do-list-item--item3{
            background: green;
        }
        
        
        &__title{
            margin: 0;
            margin-left: 70px;
            width:420px;
            text-align: left;
            padding: 0;
            outline: 2px red solid;
        }
        
        &__quote{
            margin-top: 9px;
            width: 260px;
            outline: 3px blue solid;
        }
        
        &__contact-list{
            display: none;
        }
        
        &__blockquote{
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }


    }

}



