@media (min-width: 320px) {
  .page-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    outline: 2px solid red;

    &__logo {
      display: block;
      cursor: pointer;
      outline: 2px solid orange;
    }

    &__container {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      outline: 2px solid green;
      box-sizing: border-box;
    }

    &__nav {
      outline: 3px red solid;
    }

    &__webpage-list {
      list-style: none;
    }

    &__social-media-list {
      list-style: none;

    }
  }
}





@media (min-width: 1440px) {
  .page-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    outline: 2px solid red;

    &__logo {
      outline: 2px solid orange;
    }

    &__container {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 1440px;
      padding-left: 60px;
      padding-right: 60px;
      outline: 2px solid green;
      box-sizing: border-box;
    }
  }
}
